<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <div class="section">
        <form class="item-form" action="/" method="POST">
            <div class="control">
                <div class="field">
                <label class="label">Describe the issue</label>
                <div class="control">
                  <input class="input is-primary" type="text" name="itemDesc" id="itemDesc">
                </div>
                <label class="label">Date to be resolved</label>
                <div class="control">
                  <input class="input is-primary" type="date" name="itemResolveDate" id="itemResolveDate">
                </div>
        </div>    
            <div class="control">
                <button class="button is-primary" type="submit">Add Issue</button>
            </div>
        </form>
    </div>
<%- include('includes/end.ejs') %>