<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <div class="section">
        <form class="item-form" action="/" method="POST">
          <div class="field">
              <label class="label">Issue Description</label>
              <div class="control">
                <textarea class="textarea is-primary" name="itemDesc" id="itemDesc"></textarea>
                
              </div>
          </div>

          <div class="field">
              <label class="label">Deadline to be resolved</label>
              <div class="control">
                <input class="input is-primary" type="datetime-local" name="itemResolveDate" id="itemResolveDate" value="<%= timeNow %>">
              </div>
          </div>

          <div class="field">
              <div class="control">
                <button class="button is-primary" type="submit">Add Issue</button>
              </div>
          </div>
        </form>
    </div>
<%- include('includes/end.ejs') %>